<div class="label" #label></div>
<div class="page main">
  <div class="container">
    <div class="moveable" #target><span>Moveable</span></div>
    <div class="buttons able">
      <a href="#" data-able="scalable" [class]="scalable ? 'selected' : ''" (click)="clickScalable()" >Scalable</a>
      <a href="#" data-able="resizable" [class]="resizable ? 'selected' : ''" (click)="clickResizable()">Resizable</a>
      <a href="#" data-able="warpable" [class]="warpable ? 'selected' : ''" (click)="clickWarpable()">Warpable</a>
    </div>

    <ngx-moveable
      #moveable
      *ngIf="loadEnd"
      [target]="target"
      [draggable]="true"
      [origin]="false"
      [rotatable]="true"
      [pinchable]="true"
      [scalable]="scalable"
      [resizable]="resizable"
      [warpable]="warpable"
      [keepRatio]="false"
      [throttleDrag]="1"
      [throttleScale]="0.01"
      [throttleRotate]="0.2"
      [throttleResize]="1"
      (drag)="onDrag($event)"
      (resize)="onResize($event)"
      (scale)="onScale($event)"
      (warp)="onWarp($event)"
      (rotate)="onRotate($event)"
      (pinch)="onPinch($event)"
      (dragEnd)="onEnd()"
      (resizeEnd)="onEnd()"
      (scaleEnd)="onEnd()"
      (warpEnd)="onEnd()"
      (rotateEnd)="onEnd()"
      (pinchEnd)="onEnd()"
      >
    </ngx-moveable>
  </div>
</div>
